@attribute [Route(ProjectRouters.completedTests)]
@inherits CompletedTestsPageModel
<PageTitle>Курсы</PageTitle>


<h3>Пройденные тесты</h3>

@if (!(CompletedTests?.Count() > 0))
{
    <div>
        У Вас нет курсов, по которым Вы прошли тестирование
    </div>
}
else
{
    <div class="table-box">
        <table>
            <thead>
                <tr>
                    @if (MyUser.Role == RoleEnum.admin)
                    {
                        <th>
                            Владелец Курса
                        </th>
                    }
                    @if (MyUser.Role == RoleEnum.admin)
                    {
                        <th>
                            Кто прощёл
                        </th>
                    }
                    <th>
                        Дата прохождения
                    </th>
                    <th>
                        Название
                    </th>

                    <th>
                        Количество вопросов в курсе
                    </th>
                    <th>
                        Правильных ответов
                    </th>



                    <th>
                        Уровень сложности
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in CompletedTests)
                {
                    <tr>
                        @if (MyUser.Role == RoleEnum.admin)
                        {
                            <td>
                                @item.TrainingCourse?.MyUser?.Manager?.FIO
                            </td>
                        }
                        @if (MyUser.Role == RoleEnum.admin)
                        {
                            <td>
                                @item.MyUser?.Manager?.FIO
                            </td>
                        }
                        <td>
                            @item.ContractDate
                        </td>

                        <td>
                            @item.TrainingCourse?.Name
                        </td>

                        <td>
                            @item.QestionNumber
                        </td>
                        <td>
                            @item.CountCorrectAnswers
                        </td>
                        
                    
                        <td>
                            @item.TrainingCourse?.DifficultyLevel
                        </td>
                        @*  <td>
                            <RadzenButton ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter"
                                          title="Прсомотреть" Icon="visibility" Size="ButtonSize.Medium"
                                          Click="@(args =>OnViewTrainingCourseClick(item))">
                            </RadzenButton>
                        </td>
                        <td>
                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Shade="Shade.Lighter"
                                          title="Заучивание" Icon="cognition" Size="ButtonSize.Medium"
                                          Click="@(args =>OnMemorizationTrainingCourseClick(item))">
                            </RadzenButton>
                        </td>
                        <td>
                            <RadzenButton ButtonStyle="ButtonStyle.Warning" Variant="Variant.Flat" Shade="Shade.Lighter"
                                          title="Тест" Icon="play_circle" Size="ButtonSize.Medium"
                                          Click="@(args =>OnStartTestClick(item))">
                            </RadzenButton>
                        </td>
                        <td>
                            <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter"
                                          title="Редактировать" Icon="edit" Size="ButtonSize.Medium"
                                          Click="@(args => OnEditClick(item))">
                            </RadzenButton>
                        </td> *@
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="8">
                        Всего: @CompletedTests.Count()
                    </th>
                </tr>
            </tfoot>

        </table>
    </div>



}
