@attribute [Route(ProjectRouters.completedTests)]
@inherits CompletedTestsPageModel
<PageTitle>Курсы</PageTitle>


<h3>Пройденные тесты</h3>

@if (!(CompletedTests?.Count() > 0))
{
    <div>
        У Вас нет курсов, по которым Вы прошли тестирование
    </div>
}
else
{
    <div class="table-box">
        <table>
            <thead>
                <tr>
                    @if (MyUser.Role == RoleEnum.admin)
                    {
                        <th>
                            Владелец Курса
                        </th>
                    }
                    @if (MyUser.Role == RoleEnum.admin)
                    {
                        <th>
                            Кто прощёл
                        </th>
                    }
                    <th>
                        Дата прохождения
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Уровень сложности
                    </th>

                    <th>
                        Кол. вопросов
                    </th>
                    <th>
                        Правильных ответов
                    </th>
                    <th>
                        Результат
                        %
                    </th>
                    
                    <th>
                    </th>
                    <th>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in CompletedTests)
                {
                    <tr>
                        @if (MyUser.Role == RoleEnum.admin)
                        {
                            <td>
                                @item.TrainingCourse?.MyUser?.Manager?.FIO
                            </td>
                        }
                        @if (MyUser.Role == RoleEnum.admin)
                        {
                            <td>
                                @item.MyUser?.Manager?.FIO
                            </td>
                        }
                        <td>
                            @item.ContractDate
                        </td>

                        <td>
                            @item.TrainingCourse?.Name
                        </td>

                        <td>
                            @item.TrainingCourse?.DifficultyLevel
                        </td>

                        <td>
                            @item.QestionNumber
                        </td>
                        <td>
                            @item.CountCorrectAnswers
                        </td>

                        <td>
                            @(item.PercentageResult)%
                        </td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="8">
                        Всего: @CompletedTests.Count()
                    </th>
                </tr>
            </tfoot>

        </table>
    </div>



}
