@inherits ShowAllTrainingCoursesComponentMode


@if (TrainingCourses == null || MyUser==null)
{
    <div>
        Нет курсов
    </div>
}
else
{
    <div class="table-box">
        <table class="results-table">
            <thead>
                <tr>
                    <th>
                        @if (MyUser?.Role == RoleEnum.admin || IsShowDelButton == false)
                        {
                            <div>
                                Владелец Курса
                            </div>
                        }
                    </th>
                    <th>
                        Название курса
                    </th>
                    <th>
                        Описание курса
                    </th>

                    <th>
                        Кол.
                        <div>
                            карточек
                        </div>
                        
                    </th>

                    <th>
                        Продолжительность курса (минут).
                    </th>
                    <th>
                        Дата создания курса
                    </th>
                    <th>
                        Уровень сложности
                    </th>
                    <th>
                        Курс виден всем
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in TrainingCourses)
                {
                    <tr>
                        <td>
                            @if (MyUser?.Role == RoleEnum.admin || IsShowDelButton == false)
                            {
                            
                                @item.MyUser?.Manager.FIO
                            
                            }
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.CourseQestions?.Count
                        </td>
                        <td>
                            @item.Duration
                        </td>
                        <td>
                            @item.CreateDate.ToShortDateString()
                        </td>
                        <td>
                            @item.DifficultyLevel
                        </td>
                        <td>
                            @if (item.IsVisableForAll)
                            {
                                <div>Да</div>
                            }
                            else
                            {
                                <div>Нет</div>
                            }
                            
                        </td>
                        @if (IsMyTrainingCoursesPage)
                        {
                            <td>
                                <RadzenButton ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter"
                                              title="Прсомотреть" Icon="visibility" Size="ButtonSize.Medium"
                                              Click="@(args =>OnViewTrainingCourseClick(item))">
                                </RadzenButton>
                            </td>
                            <td>
                                <RadzenButton ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Shade="Shade.Lighter"
                                              title="Заучивание" Icon="cognition" Size="ButtonSize.Medium"
                                              Click="@(args =>OnMemorizationTrainingCourseClick(item))">
                                </RadzenButton>
                            </td>
                            <td>
                                <RadzenButton ButtonStyle="ButtonStyle.Warning" Variant="Variant.Flat" Shade="Shade.Lighter"
                                              title="Тест" Icon="play_circle" Size="ButtonSize.Medium"
                                              Click="@(args =>OnStartTestClick(item))">
                                </RadzenButton>
                            </td>

                            @if (IsShowDelButton == false)
                            {
                                <td>
                                    @if (IsMyTrainingCoursesPage)
                                    {
                                        <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                      title="Редактировать" Icon="edit" Size="ButtonSize.Medium"
                                                      Click="@(args => OnEditClick(item))">
                                        </RadzenButton>
                                    }
                                </td>
                            }
                        }
                        else
                        {
                            @* Страница с чужими курсами *@
                            if (IsShowDelButton == false)
                            {
                                <td>
                                    <RadzenButton ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter"
                                    title="Добавить к себе" Icon="add_circle" Size="ButtonSize.Medium"
                                    Click="@(args =>OnAddTrainingCourseClick(item))">
                                    </RadzenButton>
                                </td>
                            }
                            <td>
                                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat" Shade="Shade.Lighter"
                                                  title="Подробно" Icon="info" Size="ButtonSize.Medium"
                                                  Click="@(args =>OnShowInfoTrainingCourseClick(item))">
                                    </RadzenButton>
                                </td>
                            @*     <td>
                                </td>
                                <td>
                                </td> *@
                            
                        }
                        
                        @if (IsShowDelButton)
                        {
                            <td>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter"
                                              title="Удалить" Icon="delete_forever" Size="ButtonSize.Medium"
                                              Click="@(args => OnDeleteClick(item))">
                                </RadzenButton>
                            </td>
                            @if (IsMyTrainingCoursesPage == false)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                            }
                        }
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="15">
                        Всего: @TrainingCourses.Count()
                    </th>
                </tr>
            </tfoot>

        </table>
    </div>
}


@if (SelectedTrainingCourse != null)
{
    <br />
    <div>
        <div>
            Подробная информация
        </div>
        <table>
            <tbody>
                <tr>
                    <td>Курс:</td>
                    <td>@SelectedTrainingCourse.Name</td>
                </tr>
                <tr>
                    <td>Количество подписчиков:</td>
                    <td>ххх</td>
                </tr>
            </tbody>
        </table>
    </div>
}
