@attribute [Route(ProjectRouters.registeredUsers)]
@inherits RegisteredUsersPageModel
<PageTitle>Пользователи</PageTitle>

<h3>Зарегистрированные пользователи</h3>

@if (ErrorMassage == null)
{
    <table>
        <thead>
            <tr>
                <th>
                    Логин
                </th>
                <th>
                    Пароль
                </th>
                <th>
                    Роль
                </th>
                <th>
                    Редактировать
                </th>
                <th>
                    Удалить
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Entities != null)
            {
                @foreach (var item in Entities)
                {
                    <tr>
                        <td>
                            @item.Login
                        </td>
                        <td>
                            @item.Password
                        </td>
                        <td>
                            @item.Role
                        </td>
                        <td>
                            <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter"
                                          title="Редактировать" Icon="edit" Size="ButtonSize.Medium"
                                          Click="@(args => OnEditCommand(item))">
                            </RadzenButton>
                        </td>
                        <td>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter"
                                          title="Удалить" Icon="close" Size="ButtonSize.Medium"
                                          Click="@(args =>OnDelCommandMenuAsync(item))">
                            </RadzenButton>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
}
else
{
    <div>
        @ErrorMassage
    </div>
}


<RadzenStack Orientation="Orientation.Horizontal" Gap="1rem">
    <h3>Пользователи</h3>
    <div>
        <RadzenButton IsBusy=@IsBusy
                      Icon="cached" ButtonStyle="ButtonStyle.Primary" Shade="Shade.Lighter"
                      Click=@(()=>OnReloadEvent(this, EventArgs.Empty)) Text="Обновить" title="Обновить таблицу" />
        <span style="margin-left:10px;"></span>
        <RadzenButton IsBusy=@IsBusy
                      Icon="add" ButtonStyle="ButtonStyle.Success" Shade="Shade.Lighter"
                      Click=@OnAddCommand Text="Добавить" title="Добавить пользователя" />
    </div>
</RadzenStack>
<br />

